$black: #0D224E;
$red: #EF3959;
$blue: #4A86FF;

$maxWidth: 1920;
$maxwidthContainer: 1160;

@mixin adaptiveValue($property,$startSize,$minSize,$type){
   $addSize: $startSize - $minSize;
   @if $type==1{
      #{$property}:$startSize + px;
      @media (max-width: #{$maxwidthContainer + px}){
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxwidthContainer - 320}));
      }
   }
   @else if $type==2{
      #{$property}:$startSize + px;
      @media (min-width: #{$maxwidthContainer + px}){
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
      }
   }
   @else{
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
   }
}